html {
    font: 110%/1.2 "Trebuchet MS", Arial, Helvetica, sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
table {
    border-collapse: collapse;
    width: 80%;
    caption-side: top;
    text-align: center;
    margin: 2em auto;
}
/* PTS column */
table thead tr th:nth-child(5) {
    background-color: darkgrey;
    color: black;
}
table tbody tr td:nth-child(5) {
    background-color: darkgrey;
    color: black;
    font-weight: bolder;
}
td {
    color: #00004e;
}
table tbody td:nth-child(2) {
    color: black;
}
/*Team's name col*/
table tbody tr td:nth-child(2) {
    text-align: left;
}

caption {
    color: purple;
    font-weight: bold;
    font-size: 150%;
}
thead {
    background-color: black;
    color: white;
}

/* Creates a zebra*/
tbody tr:nth-child(even) {
    background-color: rgb(0,0,0, 0.025);
}