* {
    box-sizing: border-box;
    font-size: 16px;
}
#container {
    align-content: center;
    margin: 0 350px 0 350px;
}
header > p {
    position: absolute;
    top: 20px;
    text-transform: uppercase;
    margin-bottom: 0;
}

header > h1 {
    font-size: 150px;
    text-transform: lowercase;
    font-weight: normal;
    color: rgba(255, 69, 0, 0.78);
    white-space: nowrap;
}

main {
    display: grid;
    grid-template-columns: 4fr 6fr;
    gap: 20px;
}

/* first column code */

/*
The first row in the first column
 */
/* took image from https://www.next.co.uk/style/su542753/v10703 */
main > aside:first-of-type {
    grid-column: 1;
    grid-row: 1;
}

figcaption {
    position: absolute;
    bottom: -30px;
    left: 400px;
    color: bisque;
}
figcaption > p > em{
    font-size: 70px;
    display: block;
}
/*
The second row in the first column
 */
main > aside:last-of-type {
    grid-column: 1;
    grid-row: 2;
    border: 2px sandybrown solid;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
    padding: 10px;
}
aside > h2 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: normal;
}

aside > p > em {
    font-size: 15px;
    font-weight: normal;
    text-transform: uppercase;
    display: block;

}

/* second column code */

/*
first row in the second column
 */
main > section:first-of-type {
    grid-column: 2;
    grid-row: 1;
}
main > section:first-of-type > h2{
    font-size: 50px;
    text-transform: lowercase;
    font-weight: normal;
    border-top: 20px solid #599521;
}

main > section:first-of-type > ol > li > h3{
    color: #599521;
    text-transform: uppercase;
    white-space: nowrap;
}

li h3, li p {
    display: inline;
}
li {
    margin-bottom: 12px;
}
li::marker {
    font-weight: bold;
}


/*
second row in the second column
 */

main > section:nth-of-type(2) {
    grid-column: 2;
    grid-row: 2;
}

main > section:nth-of-type(2) > h2{
    font-size: 50px;
    text-transform: lowercase;
    font-weight: normal;
    border-top: 20px solid #e32e98;
}

main > section:nth-of-type(2) > ol > li > h3{
    color: #e32e98;
    text-transform: uppercase;
    white-space: nowrap;
}




/*
third row in the second column
 */
main > section:nth-of-type(3) {
    grid-column: 2;
    grid-row: 3;
}

main > section:nth-of-type(3) > h2{
    font-size: 50px;
    text-transform: lowercase;
    font-weight: normal;
    border-top: 20px solid #1193b8;
}

main > section:nth-of-type(3) > ol > li > h3{
    color: #1193b8;
    text-transform: uppercase;
    white-space: nowrap;
}
