* {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#container {
    display: grid;
    grid-template-columns: 500px 1fr 1fr;
    column-gap: 40px;
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    padding-top: 60px;
}

header {
    position: absolute;
    font-size: 7px;
    font-weight: bolder;
    color: #d35400;
    padding: 4px;
    top: 0;
    left: 0;
    border-left: 1px solid black;
    border-right: 1px solid black;
    text-transform: uppercase;
}